body{
    font-weight: 500;
    font-size: 2em;
    line-height: 2em;
}

@media (min-width: 250px) {
    .section {
        padding: 10rem 0 9rem;
    }
}

@media (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
}

@media (min-width: 750px) {
    .section {
        padding: 14rem 0 15rem;
    }
}

@media (min-width: 1000px) {
    .section {
        padding: 20rem 0 19rem;
    }
}

.imgd {
    background-image: url('../images/legumes-665788_960_720.jpg');
    background-size: cover;
}
  
h1 {
    font-weight: 600;
    color: #E6E6E6;
    text-shadow:  2px  2px 2px #1A1A1A,
                  2px -2px 2px #1A1A1A,
                 -2px  2px 2px #1A1A1A,
                 -2px -2px 2px #1A1A1A;
}

.sources {
    font-weight: 400;
    font-size: 0.7em;
    line-height: 1em;
}
